<%- include('partials/header'); %>
<%- include('partials/head'); %>
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Subheader-->
    <div class="subheader py-2 py-lg-4 subheader-solid" id="kt_subheader">
        <div class="container-fluid d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
            <!--begin::Info-->
            <div class="d-flex align-items-center flex-wrap mr-2">
                <!--begin::Page Title-->
                <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Mesaj Paketleri</h5>
                <!--end::Page Title-->
                <button type="button" data-toggle="modal" data-target="#addProduct" class="btn btn-success font-weight-bolder btn-sm">Yeni Paket Ekle</button>
            </div>
            <!--end::Info-->
        </div>
    </div>
    <!--end::Subheader-->
    <!--begin::Entry-->
    <div class="d-flex flex-column-fluid">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Category-->
            <div class="card card-custom gutter-b">
                <div class="card-header">
                    <h3 class="card-title">
                        <span class="card-label font-weight-bolder text-dark">Mesaj Paketleri</span>
                    </h3>
                </div>
                <div class="card-body">
                    <table class="table  table-bordered table-checkable" id="productsTable">
                        <thead>
                        <tr>
                            <th>Yabancılara Göster/Türklere Göster</th>
                            <th>Paket Adı</th>
                            <th>İşlemler</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <!--end::Category-->
        </div>
        <!--end::Container-->
    </div>
    <!--end::Entry-->
    <div class="modal fade" id="addProduct" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Paketi Düzenle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <form onSubmit="return false"  name="addProductForm" enctype="multipart/form-data">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="foreign">Kime Gösterilecek</label>
                                    <select name="foreign" id="foreign" class="form-control">
                                        <option value="turks">Türklere Gösterilecek</option>
                                        <option value="foreign">Yabancılara Gösterilecek</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="productID">Paket Adı</label>
                                    <input type="text" class="form-control" name="productID" id="productID">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">İptal</button>
                        <button type="submit" class="btn btn-primary font-weight-bold">Güncelle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateProduct" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Paketi Düzenle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <i aria-hidden="true" class="ki ki-close"></i>
                    </button>
                </div>
                <form onSubmit="return false"  name="updateProductForm" enctype="multipart/form-data">
                    <input type="hidden" id="docId" name="docId">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="updateForeign">Kime Gösterilecek</label>
                                    <select name="updateForeign" id="updateForeign" class="form-control">
                                        <option value="turks">Türklere Gösterilecek</option>
                                        <option value="foreign">Yabancılara Gösterilecek</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="updateProductID">Paket Adı</label>
                                    <input type="text" class="form-control" name="updateProductID" id="updateProductID">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">İptal</button>
                        <button type="submit" class="btn btn-primary font-weight-bold">Güncelle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include('partials/footer'); %>
